.shadow {
  color: white;
  background-color: #282c34;
  text-shadow: 5.25px 5.25px 2px #000000;
}

.text-style {
  font-family: "Special Elite", cursive;
  font-size: 3.25rem;
  text-transform: capitalize;
}

.App-link {
  color: #61dafb;
}

.plot-stock {
  position: absolute;
  right: 0;
  width: 35rem;
  height: 35rem;
  padding: 10px;
  border-bottom: 1px solid;
  margin-right: 3rem;
  margin-top: 4rem;
}

.plot-sma {
  position: absolute;
  right: 0;
  width: 35rem;
  height: 35rem;
  padding: 10px;
  margin-top: 35rem;
  margin-right: 25rem;
  border-bottom: 1px solid;
}

.table-align {
  position: absolute;
  left: 0;
  width: 35rem;
  height: 35rem;
  padding: 10px;
  margin-top: 5rem;
  margin-left: 0;
}

.company-news {
  position: absolute;
  margin-top: 70rem;
  left: 1rem;
  right: 1rem;
  padding: 10px;
  border: 1px solid;
  box-shadow: 0 0 10px grey;
  background-color: white;
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: 15px 15px 15px 15px;
  /* border-top: none; */
  /* margin-top: 35rem; */
}

.display-div {
  box-shadow: 0 0 10px grey;
  background-color: white;
  width: 35rem;
  height: auto;
  display: inline-block;
  border-radius: 15px 15px 15px 15px;
}

/* @media screen and (max-width: 1250px) {
  .plot-stock {
    margin-top: 25rem;
    left: 1rem;
  }

  .plot-sma {
    margin-top: 55rem;
    left: 0;
  }

  .company-news {
    margin-top: 90rem;
    margin-left: 0;
  }
} */

.title-nav {
  font-family: "Special Elite", cursive;
  font-size: 2rem;
  text-transform: capitalize;
}

li {
  list-style: none;
  margin-bottom: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
}

input {
  width: auto;
}

.article-img {
  height: 10rem;
  width: 12rem;
  position: relative;
  left: 0;
  margin-bottom: 0.75rem;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  padding: 5px;
}

.article-link {
  margin-bottom: 1rem;
  color: #fff;
}

.article-link :hover {
  color: #21ce99;
}

.navbar-component {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  border-radius: 5px 0;
}

/* Learn Page Styling */

.section {
  padding: 4rem 0;
}

.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 3.5rem;
}

.learn-section {
  width: 85vw;
  max-width: 40rem;
  margin: 0 auto;
}

.learn-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.learn-section-btn {
  margin: auto 16rem;
}

.learn-section-btn {
  /* border-radius: 4px; */
  /* background-color: #5ca1e1; */
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  /* padding: 16px; */
  /* width: 220px; */
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 36px; */
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.learn-section-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.learn-section-btn:after {
  content: "»";
  position: absolute;
  opacity: 0;
  /* top: 14px; */
  /* right: -20px; */
  transition: 0.5s;
}

.learn-section-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.learn-section-btn:hover:after {
  opacity: 1;
  right: 10px;
}

/* End of Learn Page Styling */